 
 
   <div  ng-app="formController">>
<!--
		 <div class="contentWRAP  loginWRAP">

		<section id="login">
	<section id="todoapp">
		

		
  

				
					<form id="todo-form" ng-submit="addTodo()">
						<input id="new-todo" ng-model="btnClass"  placeholder="whats your question? what,who,etc" ng-model="cities" ng-disabled="saving"  typeahead="suggestion for suggestion in cities($viewValue)" autofocus>
					</form>
			  <pre>{{cities | json}}</pre>

					   
			
			</section>
			

		</section>
	</div>	
	-->

			
  <nav class="navbar ">
   

      <ul class="nav ">
	

        <li>   <a href="#" class="viewsource">Exam-Predictor</a></li>
           
    <li>       <a ui-sref-active="active" ui-sref=".bar">Exam-Creator</a></li>
   
  
           <li>       <a ui-sref-active="active" ui-sref=".Register"> Register</a></li>
     <li>       <a ui-sref-active="active" ui-sref=".login"> Login</a></li>
 <li>       <a ui-sref-active="active" ui-sref=".login"> </a></li>
 <li>       <a ui-sref-active="active" ui-sref=".login"> </a></li>
	 </ul>

  </nav>


  <ul ui-tour="currentStep">
  
  
  
  
    <li target="a:eq(0)" at="bottom" class="popover bottom in" overlay>
	
      <div class="arrow"></div>
	  
	  
	  
      <h3 class="popover-title">Exam-Predictor<a class="close" ng-click="currentStep=false">&times;</a></h3>
      <div class="popover-content">Hey now you can use the Exam-predictor!!Dont know how it  works click here for a 1 minute tutorial<a href="#">click</a>  click Next to continue or end this tour by closing the box <button class="btn" ng-click="currentStep=currentStep+1">Next</button> <button class="btn" ng-click="currentStep=4">Go to 4</button> <button class="btn" ng-click="currentStep='chapter3'">Go to 'chapter3'</button></div>
    </li>
    <li target="a:eq(1)" at="bottom" class="popover bottom in" overlay >
      <div class="arrow"></div>
      <h3 class="popover-title">Exam-Creator <a class="close" ng-click="currentStep=false">&times;</a></h3>
      <div class="popover-content">Lectures can now create exam papers faster than ever ,<a>click  here to find out how it works<a/> or carry on with this tour by clicking next <button class="btn" ng-click="currentStep=currentStep-1">Prev</button> Second <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
    </li>
    <li target="a:eq(2)" at="bottom" name="chapter3" class="popover left in" overlay>
      <div class="arrow"></div>
      <h3 class="popover-title">Register <a class="close" ng-click="currentStep=false">&times;</a></h3>
      <div class="popover-content"><a ui-sref-active="active" ui-sref=".Register"> Register</a> here to enter a world of unlimited educational help!its quick<button class="btn" ng-click="currentStep=currentStep-1">Prev</button> Third <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
    </li>
    <li target="a:eq(3)" at="bottom" class="popover bottom in" overlay>
      <div class="arrow"></div>
      <h3 class="popover-title">Login <a class="close" ng-click="currentStep=false">&times;</a></h3>
          <div class="popover-content">Finally <a ui-sref-active="active" ui-sref=".login"> Login</a> to access and share help from thousands of students, teachers,professors and educational enthusiatist world wide<button class="btn" ng-click="currentStep=currentStep-1">Prev</button> Third <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
    </li>
	  <li target="a:eq(4)" at="bottom" class="popover bottom in" overlay>
      <div class="arrow"></div>
      <h3 class="popover-title"> Congradulations!!! <a class="close" ng-click="currentStep=false">&times;</a></h3>
      <div class="popover-content"> Congradulations on finishing the tour!!!your earned your first tourist badge,<a>click here to claim it</a>active on social media?like our page and follow us ,we would really like to hear your feed backand thoughts,  <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
    </li>
	   </li>
	  <li target="a:eq(5)" at="right" class="popover right in" overlay>
      <div class="arrow"></div>
      <h3 class="popover-title">A Title <a class="close" ng-click="currentStep=false">&times;</a></h3>
      <div class="popover-content">Fourth <button class="btn" ng-click="currentStep=currentStep+1">Next</button></div>
    </li>
	
  </ul>
  


 <div id="canvas">

	<!--
	POSSIBLE SLOGAN
	<h1>MADE FOR YOU TO LEARN AND LECTURE EFFORTLESSLY
 </h1>
 -->
			  <h1>LEARN OR LECTURE EFFORTLESSLY
 </h1>
	<!-- 
	POSSIBLE SLOGAN
	SCHOOL HELP MADE EFFORTLESS YET VERY HELPFUL
	-->

        <li>   <a ui-sref-active="active" ui-sref=".Register"> Home </a></li>
           
    <li>  <a ui-sref-active="active" ui-sref=".bar"> Search </a></li>
   
  
           <li>       <a ui-sref-active="active" ui-sref=".Register"> Register</a></li>
     <li>       <a ui-sref-active="active" ui-sref=".login"> Login</a></li>
 <li>       <a ui-sref-active="active" ui-sref=".login">Exam-Creator </a></li>
  <li>       <a ui-sref-active="active" ui-sref=".login">Exam-Predictor </a></li>
  <li>       <a ui-sref-active="active" ui-sref=".login">Games </a></li>
  <li>       <a ui-sref-active="active" ui-sref=".login"> More</a></li>
	
  <img src="/starnightimages/FAVPNG_light-blue-glare_Ywdti3Mr.png" alt="" class="bg-image">
  <img src="/starnightimages/toppng.com-space-cloud-png-green-clouds-1063x604-1.png" class="bg-image">
  <img src="/starnightimages/PngItem4.png" alt="" class="bg-image">
  
	<!--
	POSSIBLE SLOGAN
	<h1>SCHOOL HELP MADE EASY AND RELIABLE </h1>
	
	-->
	
	



 <!-- starts https://codepen.io/artyom-ivanov/pen/QjOYbO -->
  <div class="planet"> 
  <!-- views will be injected here -->

   
  <div class="wrap">
     <div class="background">
	
	 </div>
     <div class="clouds"></div>   
  </div>
  <div class="mask"></div>
    
</div>


 <div class="planet centered"> 
  <!-- views will be injected here -->

   
  <div class="wrap">
     <div class="background">
	
	 </div>
     <div class="clouds"></div>   
  </div>
  <div class="mask"></div>
    
</div>

 <div class="planetone right"> 
  <!-- views will be injected here -->

   
  <div class="wrap">
     <div class="backgroundone">
	
	 </div>
     <div class="clouds"></div>   
  </div>
  <div class="maskone"></div>
    
</div>


  <!-- ends https://codepen.io/artyom-ivanov/pen/QjOYbO -->
  <div class="rotate-element"></div>
</div>
  <div class="tour-overlay fade"></div>
  <div class="row">
<div class="col-sm-8 col-sm-offset-2">

  <div id="form-container">
  

      </div>
      
      <!-- use ng-submit to catch the form submission and use our Angular function -->
 
          <!-- our nested state views will be injected here -->
          <div id="form-views" ui-view></div>
 
  
  </div>
  

  <!-- show our formData as it is being typed -->

</div>
</div>
	<script>
						// init controller
						var controller = new ScrollMagic.Controller();
					</script>
				</section>
				<section class="demo">
					<div class="spacer s2"></div>
					<div class="spacer s0"></div>
					<div id="trigger1" class="spacer s0"></div>
					<div id="pin1" class="box2 blue">
					
						<a ui-sref-active="active" ui-sref=".login">SEARCH FOR EXAM PAPERS HERE</a>
					</div>
					<div class="spacer s2"></div>
					<script>
						$(function () { // wait for document ready
							// build scene
							var scene = new ScrollMagic.Scene({triggerElement: "#ui-view", duration: 90})
											.setPin("#pin1")
											//.addIndicators({name: "1 (duration: 900)"}) // add indicators (requires plugin)
											.addTo(controller);
						});
					</script>
				</section>
				
			<section class="demo">
					<div class="spacer s2"></div>
					<div id="trigger2" class="spacer s0"></div>
					<div id="pin2" class="box2 blue">
						<p>Take me with you!</p>
						<a href="#" class="viewsource">view source</a>
					</div>
					<div class="spacer s2"></div>
					<script>
						$(function () { // wait for document ready
							// build scene
							var scene = new ScrollMagic.Scene({triggerElement: "#pin2"})
											.setPin("#pin2")
										//	.addIndicators({name: "2 (duration: 0)"}) // add indicators (requires plugin)
											.addTo(controller);
						});
					</script>
					
				</section>	
				
				
				
				
				
<style>
/*
67. This is a common technique called a CSS reset. \
Different browsers use different default margins,
 causing sites to look different by margins. 
 The * means "all elements" (a universal selector),
 so we are setting all elements to have zero margins,
 and zero padding, thus making them look 
 the same in all browsers.Jan 4, 2012

What does "*" mean in CSS? - Stack Overflow
https://stackoverflow.com/questions/8715860/what-does-mean-in-css

below i will comment it out just o see
*/

/*
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}
*/


/*
.class targets the following element:

/<div class="class"></div>

#class targets the following element:

<div id="class"></di
*/
<!-- by making canvAs height 0vh 
we lose the background images which give us color
but we gain ability to click on nav link login etc on small screens phone
finding a way to add thise pic isimportan -->
<!--#canvas span
gets our links working and is a great a example on how to start 
making changes
to canvas so
we can add linkin <a>
 -->
 <!--we lost our start due to making #canvas span and #canvas a transparent with   background-color: #8c8c8c00; -->
#canvas {
  width: 100vw;
  height: 0vh;
  background-image: radial-gradient(rgb(0,0,0), rgb(50, 50, 50));
  position: relative;
  z-index: -9999999;
    top: 40%;
}

#canvastwo {
  width: 100vw;
  height: 0vh;
  background-image: radial-gradient(rgb(0,0,0), rgb(50, 50, 50));
  position: relative;
  z-index: -9999999;
    top: 40%;
}

#canvas span {
  background-color: #8c8c8c00;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
}
#canvas a {
  background-color: #8c8c8c00;
  border-radius: 50%;
  position: absolute;
  z-index: 9;
}


#canvas h1 {
  background-color: #7ca3b7;

  position: sticky;
  z-index: 9;
  	width: 50%; 
 height : 0px;
left: 18%;
	text-align: center;
	background: lightblue;
	color: white
}

.bg-image {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  max-width: 100%;
  opacity: .4;
}

.newStar {
  display: block;
  transition: 1s;
  position: absolute;
  z-index: 99;
  border-radius: 10%;
  background-image: radial-gradient(#fff, rgba(0,0,0,0)), 
    linear-gradient(to right, rgba(0,0,0,0) 70%, #fff);
  opacity: 1;
}

/*
 starts https://codepen.io/artyom-ivanov/pen/QjOYbO
*/

.planet{
  width:5vw;
  height:5vw;
  position:absolute;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  left:50%;
  top:50%;
  z-index: 999;
}
.planet .mask{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
  border-radius:50%;
}
.planet .background{
  animation: translateBackground 40s infinite linear;  
  background:url(/starnightimages/mars.jpg) repeat-x;
  width:5vw;
  height:5vw;
  position:absolute;
  border-radius:50%;
}
.planetone{
  width:5vw;
  height:5vw;
  position:absolute;
  border-radius:50%;
  overflow:hidden;
  box-shadow: 0 0 60px -20px rgba(255, 189, 3, 0.72), -14px -15px 40px -10px rgba(255, 238, 191, 0.23);
  left:50%;
  top:50%;
  z-index: 999;
}
.planetone .maskone{
  width:100%;
  height:100%;
  position: absolute;
  box-shadow:inset -10px -10px 40px #251303, inset 10px 10px 30px -10px rgba(255, 204, 159, 0.6);
  border-radius:50%;
}
.planetone .backgroundone{
  animation: translateBackground 40s infinite linear;  
  background:url(/starnightimages/earththree.jpg) repeat-x;
  width:5vw;
  height:5vw;
  position:absolute;
  border-radius:50%;
}
.planet .clouds{
  background:url(/starnightimages/clouds.png) repeat-x;
  width:5vw;
  height:5vw;
  position:absolute;
  border-radius:50%;
  animation: translateBackground 30s infinite linear;
  opacity: 0.4;
}
.planet .wrap{
  width:5vw;
  height:5vw;
  position:absolute;
  border-radius:50%;
  animation: rotatePlanet 150s infinite linear;  
}


/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: white;
}

/* Control the right side */
.right {
 left: 70%;
  background-color: white;
    position: absolute;
  top: 30%;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 30%;
  left: 15%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}


#col-1 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #282828;
  z-index: 1010101010
}

#col-2 {
  position: relative;
  width: 50%;
  float: left;
  height: 100%;
  background-color: #0080ff;
  z-index: 1010101010
}

@keyframes translateBackground{
  0%{
    background-position-x:0;
  }
  100%{
    background-position-x:-600px;
  }
}
@keyframes rotatePlanet{
  0%{
    transform:rotateZ(0);
  }
  100%{
    transform:rotateZ(-360deg);
  }
}

.rotate-element {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 2vw;
  height: 2vw;
  background-image: url('/starnightimages/PngItem_300429.png');
  background-size: cover;
  background-position: center;
  border-radius: 50%;
  animation: rotate 5s linear infinite;
  
  transform-style: preserve-3d;
  
}

@keyframes rotate{
  0%{
    transform: rotateY(0deg) translateX(7vw) translateZ(0);
    z-index: 9999;
  }
  25% {
    transform: rotateY(90deg) translateX(0) translateZ(0%);
    z-index: 9999;
  }
  50% {
    transform: rotateY(180deg) translateX(-5vw) translateZ(0%);
  }
  
  75% {
    transform: rotateY(270deg) translateX(0%) translateZ(0%);
  }
  100%{
    transform: rotateY(360deg) translateX(7vw) translateZ(0);
  }
}



</style>
<script>
const el = document.getElementById("canvas");
const width = el.offsetWidth;
const height = el.offsetHeight;

function drawStars(num) {
  for (let i = 0; i < num; i++) {
    let s = Math.floor(Math.random() * 2 + 1);
    let t = Math.floor(Math.random() * height);
    let l = Math.floor(Math.random() * width);
    
    t = t - s;
    l = l - s;
    
    let e = document.createElement("span");
    e.style.width = s + "px";
    e.style.height = s + "px";
    e.style.left = l + "px";
    e.style.top = t + "px";
    el.appendChild(e);
  }
}


function fallingStar() {
  setInterval(function() {
  let star = document.createElement("div");
  let s = Math.floor(Math.random() * 4 + 1);
  let t = Math.floor(Math.random() * height);
  let r = Math.floor(Math.random() * width);
  let l = 150;
  let a = width + 50;
  
  star.style.width = l + "px";
  star.style.height = s + "px";
  star.style.top = t + "px";
  star.style.left = "-" + l + "px";
  star.classList.add("newStar");
    
  const deltaY = r - t;
  const deltaX = a - l;
  const angle = Math.atan2(deltaY, deltaX) * 180 / Math.PI;
  const transform = `rotate(${angle}deg)`
  
  star.style.transform = transform;
  
  el.appendChild(star);
  
  let start = Date.now(); // remember start time
  let duration = 30000;
  let removeTime = duration + 200;
let timer = setInterval(function() {
  // how much time passed from the start?
  let timePassed = Date.now() - start;

  if (timePassed >= duration) {
    clearInterval(timer);
    return;
  }

  // draw the animation at the moment timePassed
  draw(duration);

}, 20);


function draw() {
  star.style.left = a +'px'; 
  star.style.top = r + "px";
}
    
  setTimeout(function() {
    el.removeChild(star);
  }, removeTime)
  }, 3000)
 }

drawStars(150);
fallingStar();
</script>
<style>

  
  
.headertwo{
	background: url(k.jpg) no-repeat 0px 0px;
	width:100%;
	background-size:cover;
	min-height:832px;
	display:block;
}
.red
{  
font-family: "Source Sans Pro",Calibri,Candara,Arial,sans-serif;  
font-size: 15px;  
line-height: 1.42857143;  
color: #333333;  
background-color: red; 
}


.default {
  background-color: white;
}

.primary {
  background-color: #428bca;
}

.success {
  background-color: #5cb85c;
}

.info {
  background-color: #5bc0de;
}

.warning {
  background-color: #f0ad4e;
}

.danger {
  background-color: #d9534f;
}
.target {
  float:left;
  width: 350px;
  height:80px;
  line-height: 70px;
  margin: 460px 400px;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 1em;
  text-align: center;

   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqq5wne-lQjtfeGDyUqLJh760BmoTTFaJdevsXeXzfOiZcyDkl);
  background-color: white;
  border-color: #3BAFDA;
  color: black;
}
.target2 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target3{
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target4 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target5 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target6 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}

.target7 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target8{
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target9 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target10 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target11 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
   background-color: #48CFAD;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIfX0i-1M4IjwRyWyMFE9Hbr9bECZgMkP73coFBFwNz0_QoD5R);
  border-color: #37BC9B;
  color: #37BC9B;
  font-size: 15px;
	color : black;
}
.target12 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #48CFAD;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmX4g-YJ4yfYkkGiN2CcIz9UGNhec57rOzPPRDICPBJpDOAmOtTQ);
  border-color: #37BC9B;
  color: #37BC9B;
  font-size: 15px;
	color : black;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
.target14 {
  float:left;
  width: 480px;
  height:180px;
  line-height: 160px;
  margin: 12px 24px;
    background-color: #48CFAD;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmX4g-YJ4yfYkkGiN2CcIz9UGNhec57rOzPPRDICPBJpDOAmOtTQ);
  border-color: #37BC9B;
  color: #37BC9B;
  font-size: 15px;
	color : black;
  color: #E9573F;
  box-shadow: 2px 2px 4px #ccc;
  border: 2px solid;
  border-radius: 8px;
  font-size: 4em;
  text-align: center;
  font-weight: bold;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.5);
}
div.palette {
  float:left;
  width: auto;
  margin: 12px 24px;
}

.palette span {
  display: inline-block;
  vertical-align: top;
  margin: 0 4px;
  width: 24px;
  height: 24px;
  border: 1px solid;
  cursor: pointer;
  box-shadow: 0 1px 2px #ccc;
}

.highlights span {
  border-radius: 4px;
}

.list {
 background-color: #48CFAD;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIfX0i-1M4IjwRyWyMFE9Hbr9bECZgMkP73coFBFwNz0_QoD5R);
  border-color: #37BC9B;
  color: #37BC9B;
  font-size: 15px;
	color : black;
}
#todoapp {
	background: #fff;
	margin: 130px 0 40px 0;
	position: relative;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
	            0 25px 50px 0 rgba(0, 0, 0, 0.1);
}

.contentWRAP {
  width: 11150px;
  margin: 0 auto;
  height: auto;
}
.contentWRAP.loginWRAP:before {
  content: '';
  position: absolute;
  height: 400%;
  width: 400%;
  top: 180%;
  left: 0;
  background-image: url("http://www.lenta.kz/grafik/userfiles/mg_0833_2_1.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.contentWRAPon {
  width: 320px;
  margin: 0 auto;
  height: auto;
}
.contentWRAPon.loginWRAPon:before {
  content: '';
  position: absolute;
  height: 200%;
  width: 200%;
  top: 180%;
  left: 0;
  background-image: url("http://www.lenta.kz/grafik/userfiles/mg_0833_2_1.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

#loginon {

    z-index: 10;
  border-radius: 3px;
  width: 318px;
  height: 318px;
  top: -10%;
  left: 40%;
  margin-top: -55px;
  margin-left: -159px;
  position: relative;
  overflow: hidden;
 
}
#loginon:after {
  content: '';
  position: absolute;
  border-radius: 3px;
  width: 618px;
  height: 318px;
  top: 50%;
  left: 50%;
  margin-top: -159px;
  margin-left: -159px;
  background-color: rgba(85, 72, 54, 0.1);
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}
#loginon:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("http://www.lenta.kz/grafik/userfiles/mg_0833_2_1.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  z-index: -1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  pointer-events: none;
}



#login {
  z-index: 10;
  border-radius: 3px;
  width: 318px;
  height: 318px;
  top: -10%;
  left: 40%;
  margin-top: -55px;
  margin-left: -159px;
  position: absolute;
  overflow: hidden;
}
#login:after {
  content: '';
  position: absolute;
  border-radius: 3px;
  width: 318px;
  height: 318px;
  top: 50%;
  left: 50%;
  margin-top: -159px;
  margin-left: -159px;
  background-color: rgba(85, 72, 54, 0.1);
  overflow: hidden;
  z-index: -1;
  pointer-events: none;
}
#login:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  background-image: url("http://www.lenta.kz/grafik/userfiles/mg_0833_2_1.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  z-index: -1;
  -webkit-filter: blur(20px);
          filter: blur(20px);
  pointer-events: none;
}
#login form {
  margin-top: 140px;
  padding-top: 0px;
  padding-left: 40px;
  z-index: 10;
}
#login form:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 10px;
  left: 0;

  background-position: center 22px;
  background-size: 30% 30%;
  background-repeat: no-repeat;
  pointer-events: none;
}
#login form input {
  width: 237px;
  margin-top: 9px;
}
#login form button {
  width: 237px;
  background: #00a596;
  margin-top: 9px;
  margin-bottom: 10px;
}
#login p {
  display: block;
  text-align: center;
}
#login p a {
  color: #f09e00;
  font-size: 13px;
  font-style: italic;
  text-decoration: none;
}
#login p a:hover {
  text-decoration: underline;
}

.what {
    width: 318px;
    position: absolute;
    height: 318px;
    margin-left: 449px;
    margin-top: -94px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E9573F;
    color: #E9573F;
    background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
}


.when {
  background-color: #FC6E51;
  border-color: #E9573F;
  color: #E9573F;
  background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg)
}
.where {
 background-color: #48CFAD;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSmX4g-YJ4yfYkkGiN2CcIz9UGNhec57rOzPPRDICPBJpDOAmOtTQ);
  border-color: #37BC9B;
  color: #37BC9B;
  font-size: 15px;
	color : black;
}

.who {
 background-color: #48CFAD;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSIfX0i-1M4IjwRyWyMFE9Hbr9bECZgMkP73coFBFwNz0_QoD5R);
  border-color: #37BC9B;
  color: #37BC9B;
  font-size: 15px;
	color : black;
}

.describe {
 background-color: #48CFAD;
   background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqq5wne-lQjtfeGDyUqLJh760BmoTTFaJdevsXeXzfOiZcyDkl);
  border-color: #37BC9B;
  color: #37BC9B;
  font-size: 15px;
	color : black;
}

.explain {
 background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQqq5wne-lQjtfeGDyUqLJh760BmoTTFaJdevsXeXzfOiZcyDkl);
  background-color: #4FC1E9;
  border-color: #3BAFDA;
  color: #3BAFDA;
}

.mention{
  background-color: #5D9CEC;
  border-color: #4A89DC;
  color: #4A89DC;
}

.how {
  background-color: #AC92EC;
  border-color: #967ADC;
  color: black;
   background-image: url( https://t4.ftcdn.net/jpg/00/59/06/81/500_F_59068177_Mp7nJxS6lJGDHcWWUb8VHptjQi5FQgdd.jpgttps://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
  
}

.pinkrose {
  background-color: #EC87C0;
  border-color: #D770AD;
  color: #D770AD;
}

.lightgray {
  background-color: #F5F7FA;
  border-color: #E6E9ED;
  color: #E6E9ED;
}

.mediumgray {
  background-color: #CCD1D9;
  border-color: #AAB2BD;
  color: #AAB2BD;
}

.darkgray {
  background-color: #656D78;
  border-color: #434A54;
  color: #434A54;
}
.type question {
  background-color: #656D78;
  border-color: #434A54;
  color: #434A54;
}

        .Red {
            color: Red;
        }
        .Yellow {
            color: Yellow;
        }
          .Blue {
            color: Blue;
        }
          .Green {
            color: Green;
        }
        .Gray {
            color: Gray;
        }
         .b{
             font-weight: bold;
        }
    </style>
    
