  <style>

  

.contentWRAP {
  width: 11150px;
  margin: 0 auto;
  height: auto;
}
.contentWRAP.loginWRAP:before {
  content: '';
  position: absolute;
  height: 400%;
  width: 400%;
  top: 180%;
  left: 0;
  background-image: url("http://www.lenta.kz/grafik/userfiles/mg_0833_2_1.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}
.contentWRAPon {
  width: 320px;
  margin: 0 auto;
  height: auto;
}
.contentWRAPon.loginWRAPon:before {
  content: '';
  position: absolute;
  height: 200%;
  width: 200%;
  top: 180%;
  left: 0;
  background-image: url("http://www.lenta.kz/grafik/userfiles/mg_0833_2_1.jpg");
  background-size: 100vw 100vh;
  background-position: center;
  background-repeat: no-repeat;
}

#loginon {

    z-index: 10;
  border-radius: 3px;
  width: 318px;
  height: 318px;
  top: -10%;
  left: 40%;
  margin-top: -55px;
  margin-left: -159px;
  position: relative;
  overflow: hidden;
 
}



#login {
  z-index: 10;
  border-radius: 3px;
  width: 318px;
  height: 318px;
  top: -10%;
  left: 40%;
  margin-top: -55px;
  margin-left: -159px;
  position: absolute;
  overflow: hidden;
}

.what {
    width: 318px;
    position: absolute;
    height: 318px;
    margin-left: 449px;
    margin-top: -276px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E9573F;
    color: #E9573F;
    background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
}
.science {
    width: 318px;
    position: absolute;
    height: 318px;
   
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E9573F;
    color: #E9573F;
     background-image: url(/images/snoop.jpg);
}

.science > li{
    width: 318px;
    position: absolute;
    height: 318px;

    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E9573F;
    color: #E9573F;
    background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
}
.science > a{
  font-family: 'Righteous', sans-serif;
  font-size: 25px;
   color:black;
  padding-top: 55px;
  padding-bottom: 19px;
   margin-left: 10px;
       float: left;
  
}
.2020 {
    width: 318px;
    position: absolute;
    height: 318px;
   
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E9573F;
    color: #E9573F;
    background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
}
 
.twenty >  li> a {
     font-family: 'Righteous', sans-serif;
  font-size: 25px;
   color:black;
  padding-top: 70px;
  padding-bottom: 19px;
   margin-left: 80px;
       float: left;
}

.gauteng {
    width: 318px;
    position: absolute;
    height: 318px;
   
    margin-top: 0px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E9573F;
    color: #E9573F;
    background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
}

.gauteng > span > a {
     font-family: 'Righteous', sans-serif;
  font-size: 25px;
   color:black;
  padding-top: 55px;
  padding-bottom: 19px;
   margin-left: 263px;
       float: left;
}
.whatbox {
    width: 318px;
    position: absolute;
    height: 318px;
    margin-left: 449px;
    margin-top: -276px;
    background-color: rgba(0, 0, 0, 0.1);
    border-color: #E9573F;
    color: #E9573F;
    background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
}
.whatbox .right{
width: 900px;
    height: 318px;
	 top: -59px
	 margin-left: 59px;
	 margin-bottom: 550px;
  background-color: white;
  border-color: #E9573F;
  color: #E9573F;
  background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg)
}
whatbox .farright{
   width: 257px;
    height: 318px;
    margin-right: 728px;
    margin-left: 318px;
    margin-top: 0px;
    background-color: white;
    border-color: #E9573F;
    color: #E9573F;
    background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg);
    position: absolute;
}

.whatbox .farright .img{
width: 900px;
    height: 318px;
	 
	 margin-left: 590px;
	    margin-top: -136px;
  background-color: white;
  border-color: #E9573F;
  color: #E9573F;
  background-image: url(https://thumbs.dreamstime.com/b/crazy-cartoon-question-mark-character-yellow-questionmark-isolated-34858516.jpg)
}
.floatleft {   
float:left; 
  margin:1px 4px 1px 0;
  } 
.floatright { 
  float:right;  
  margin:3px 0 3px 8px;
  }
 .imgcentered { 
 margin:3px auto; 
 display:block;
 }
 form .clearfix {
  margin-bottom: 18px;
  zoom: 1;
}
form .clearfix:before, form .clearfix:after {
  display: table;
  content: "";
  zoom: 1;
}
form .clearfix:after {
  clear: both;
}
label,
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  line-height: normal;
}
label {
  padding-top: 6px;
  font-size: 13px;
  line-height: 18px;
  float: left;
  width: 130px;
  text-align: right;
  color: #404040;
}
form .input {
  margin-left: 150px;
}
input[type=checkbox], input[type=radio] {
  cursor: pointer;
}
input,
textarea,
select,
.uneditable-input {
  display: inline-block;
  width: 210px;
  height: 18px;
  padding: 4px;
  font-size: 13px;
  line-height: 18px;
  color: #808080;
  border: 1px solid #ccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
select {
  padding: initial;
}
input[type=checkbox], input[type=radio] {
  width: auto;
  height: auto;
  padding: 0;
  margin: 3px 0;
  *margin-top: 0;
  /* IE6-7 */

  line-height: normal;
  border: none;
}
input[type=file] {
  background-color: #ffffff;
  padding: initial;
  border: initial;
  line-height: initial;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
input[type=button], input[type=reset], input[type=submit] {
  width: auto;
  height: auto;
}
select, input[type=file] {
  height: 27px;
  *height: auto;
  line-height: 27px;
  *margin-top: 4px;
  /* For IE7, add top margin to align select with labels */

}
select[multiple] {
  height: inherit;
  background-color: #ffffff;
}
textarea {
  height: auto;
}
.uneditable-input {
  background-color: #ffffff;
  display: block;
  border-color: #eee;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.025);
  cursor: not-allowed;
}
:-moz-placeholder {
  color: #bfbfbf;
}
::-webkit-input-placeholder {
  color: #bfbfbf;
}
input, textarea {
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -ms-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.1);
}
    </style>

  

     <div class="whatbox ">
     <div class="{{btnClass}} ">
   

			<h1>Search  </h1>
			

  <div class="clearfix  " id="profile_country_field">
    <label for="profile_country">Country</label>
    <div class="input">
        
    <select id="profile_country" ng-model="btnClasstwo"   name="profile.country" >
        
            <option class="blank"  ng-model="btnClasstwo"  value="">--- Choose a country ---</option>
        
        
            <option value="science" >science</option>
        
            <option value="Austria" >Austria</option>
        
            <option value="Belgium" >Belgium</option>
        
            <option value="Bulgaria" >Bulgaria</option>
        
            <option value="Cyprus" >Cyprus</option>
        
            <option value="Czech Republic" >Czech Republic</option>
        
            <option value="Denmark" >Denmark</option>
        
            <option value="Estonia" >Estonia</option>
        
            <option value="Finland" >Finland</option>
        
            <option value="French Guiana" >French Guiana</option>
        
            <option value="Germany" >Germany</option>
        
            <option value="Gibraltar" >Gibraltar</option>
        
            <option value="Greece" >Greece</option>
        
            <option value="Guadeloupe" >Guadeloupe</option>
        
            <option value="Hungary" >Hungary</option>
        
            <option value="Ireland" >Ireland</option>
        
            <option value="Italy" >Italy</option>
        
            <option value="Latvia" >Latvia</option>
        
            <option value="Lithuania" >Lithuania</option>
        
            <option value="Luxembourg" >Luxembourg</option>
        
            <option value="Malta" >Malta</option>
        
            <option value="Martinique" >Martinique</option>
        
            <option value="Netherlands" >Netherlands</option>
        
            <option value="Poland" >Poland</option>
        
            <option value="Portugal" >Portugal</option>
        
            <option value="Reunion" >Reunion</option>
        
            <option value="Romania" >Romania</option>
        
            <option value="Slovak (Republic)" >Slovak (Republic)</option>
        
            <option value="Slovenia" >Slovenia</option>
        
            <option value="Spain" >Spain</option>
        
            <option value="Sweden" >Sweden</option>
        
            <option value="United Kingdom" >United Kingdom</option>
        
    </select>

        <span class="help-inline"></span>
        <span class="help-block">Required</span> 
    </div>
</div>



				
					<form id="todo-form" ng-submit="addTodo()">
						<input id="new-todo" ng-model="btnClass"
						placeholder="Year?" ng-model="cities"
						ng-disabled="saving"  typeahead="suggestion for suggestion in cities($viewValue)" autofocus>
			<input id="new-todo" ng-model="btnClassthree" 
						placeholder="province?" ng-model="cities" ng-disabled="saving"  typeahead="suggestion for suggestion in cities($viewValue)" autofocus>
		
						<input id="new-todo" ng-model="btnClassfour"  placeholder="exam paper year?" ng-model="cities" ng-disabled="saving"  typeahead="suggestion for suggestion in cities($viewValue)" autofocus>
					
						<input id="new-todo" ng-model="btnClasstwo" 
						placeholder="Subject?" ng-model="cities" ng-disabled="saving"  typeahead="suggestion for suggestion in cities($viewValue)" autofocus>
				
					
					</form>

			
			<div class="clearfix  " id="accept_field">
    <label for="accept"></label>
    <div class="input">
        
    <input type="checkbox" id="accept" name="accept" value="true"  >
    <span>You agree the Terms and conditions</span>

        <span class="help-inline"></span>
        <span class="help-block"></span> 
    </div>
</div>

			

			<div class="{{btnClasstwo}} ">
  
	<div class="{{btnClassthree}} ">
  <span> <a ui-sref-active="active" ui-sref=".Register"> subject</a> <span>
			


			<div class="{{btnClassfour}} ">
  <li> <a ui-sref-active="active" ui-sref=".Register"> year</a> <li>
			


		
</div>	
</div>	
		
		         <a ui-sref-active="active" ui-sref=".Register"> province</a>
			

		
</div>	
			
			
			
	</div>	
	
    
	</div>	
	</div>	
